<!DOCTYPE html>
<html>
<head>
	<title><%= full_title(yield(:title)) %></title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<%= favicon_link_tag 'favicon.ico' %>
	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	<%= stylesheet_link_tag "application", 'https://fonts.googleapis.com/css?family=Abel', :media => "all" %>
	<%= stylesheet_link_tag "application", 'http://fonts.googleapis.com/css?family=Oswald:400,700,300', :media => "all" %>
	<%= stylesheet_link_tag "application", 'http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic', :media => "all" %>	
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<%= stylesheet_link_tag "application", '//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css', :media => "all" %>
	<%= csrf_meta_tags %>
	
	<%= render 'layouts/shim' %>
</head>
<body>
	<script type="text/javascript">
		var RecaptchaOptions = {
			theme: 'custom',
			custom_theme_widget: 'recaptcha_widget'
		};
	</script>

	<%= render 'layouts/header' %>
	<div class="container wrapper">
		<% flash.each do |key, value| %>
		<div class="row">
			<div class="col-lg-8">
				<div class="alert alert-<%= key %> alert-dismissable">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
					<%= value %>
				</div>
			</div>
		</div>
		<% end %>
		<%= yield %>
	</div>
	<%= render 'layouts/footer' %>
</body>
</html>
